[defaults]
inventory           = inventory/hosts
roles_path          = roles
stdout_callback     = yaml
retry_files_enabled = False
host_key_checking   = True
timeout             = 30

[ssh_connection]
pipelining          = True
