[defaults]
inventory            = inventory/hosts
roles_path           = roles
stdout_callback      = default
result_format        = yaml
host_key_checking    = True
timeout              = 30
interpreter_python   = auto_silent
vault_password_file  = .vault_pass

[ssh_connection]
pipelining           = True
