networks:
  npm_ha_net:
    name: npm_ha_net
    driver: bridge

services:
  db:
    image: "mariadb:{{ mariadb_image_version }}"
    container_name: "npm_db"
    restart: "no"
    command:
      - --bind-address=0.0.0.0
      - --log-basename="npm"
    environment:
      MARIADB_ROOT_PASSWORD: "{{ mariadb_root_password }}"
      MARIADB_DATABASE: "npm_edge"
      MARIADB_USER: "npm_adm"
      MARIADB_PASSWORD: "{{ mariadb_npm_password }}"
      TZ: "{{ timezone }}"
    volumes:
      - "{{ npm_mount_db }}/db/mysql:/var/lib/mysql"
    networks:
      - npm_ha_net
    healthcheck:
      test: ["CMD-SHELL", "MYSQL_PWD=$$MARIADB_ROOT_PASSWORD mariadb-admin ping --silent || exit 1"]
      interval: 20s
      timeout: 10s
      retries: 15
      start_period: 60s
  app:
    image: "jc21/nginx-proxy-manager:{{ npm_image_version }}"
    container_name: "npm_app"
    restart: "no"
    ports:
      - "80:80"
      - "443:443"
      - "{{ npm_admin_port }}:81"
    environment:
      DB_MYSQL_HOST: "db"
      DB_MYSQL_PORT: "3306"
      DB_MYSQL_USER: "npm_adm"
      DB_MYSQL_PASSWORD: "{{ mariadb_npm_password }}"
      DB_MYSQL_NAME: "npm_edge"
      TZ: "{{ timezone }}"
    volumes:
      - "{{ npm_mount_app }}/data:/data"
      - "{{ npm_mount_app }}/letsencrypt:/etc/letsencrypt"
    networks:
      - npm_ha_net
    depends_on:
      - db
    healthcheck:
      test: ["CMD", "curl", "-f", "http://127.0.0.1:81/"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 40s
